<div class="row  divloader" ng-show="!loaded">
	<div class="col-12 loader text-center align-self-center">	<i class="fa fa-spinner fa-spin fa-5x fa-fw"></i>
	</div>
</div>
<div ng-show="species && loaded">
	<h1>Species</h1>
	<div class="row">
		<div class=" col-sm-12">
			<div class="input-group mb-3" uib-dropdown>
				<input uib-dropdown-toggle ng-model="speciesSearched" ng-change="searchSpecies(speciesSearched)" type="text" class="form-control" placeholder="Search..." aria-label="character's name" aria-describedby="basic-addon2">
				<div ng-hide="speciesSearched == ''">
					<div class="dropdown-menu col-12" uib-dropdown-menu> <span ng-repeat="result in searchResult.data.results track by $index" class="dropdown-item">
						<a href="#!/species/{{extractUrlId(result.url)}}">{{result.name}}</a>
					</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr class="my-4">
	<div class="row">
		<div class="offset-md-3 col-md-6 col-sm-12">
			<ul class="list-group list-group-flush">
				<li ng-repeat="race in species.data.results track by $index" class="list-group-item"> <a href="#!/species/{{extractUrlId(race.url)}}">{{race.name}}</a>
				</li>
			</ul>
		</div>
	</div>
	<hr class="my-4">
	<div class="row">
		<nav aria-label="pagination" class="mx-auto">
			<ul class="pagination">
				<li class="page-item">
					<button type="button" ng-click="pageNumberDecrement()" class="page-link">Prev</button>
				</li>
				<li class="page-item">
					<button type="button" class="page-link">{{pageNumber}}</button>
				</li>
				<li class="page-item">
					<button type="button" ng-click="pageNumberIncrement()" class="page-link">Next</button>
				</li>
			</ul>
		</nav>
	</div>
</div>
<div ng-if="race && loaded">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb h2">
			<li class="breadcrumb-item"><a href="#!/species">Species</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">{{race.data.name}}</li>
		</ol>
	</nav>
	<ul class="list-group">
		<li class="list-group-item" ng-if="filmsUrlName.length > 0">Films : <span ng-repeat="film in filmsUrlName track by $index">
                <a href="#!/films/{{film.id}}">{{film.name}}</a>,
            </span>
		</li>
		<li class="list-group-item" ng-if="planetsUrlName">Homeworld:	<span ng-repeat="planet in planetsUrlName track by $index">
		<a href="#!/planets/{{planet.id}}">{{planet.name}} </a>
	</span>
		</li>
		<li class="list-group-item">Designation : {{race.data.designation}}</li>
		<li class="list-group-item">Classification : {{race.data.classification}}</li>
		<li class="list-group-item">Language : {{race.data.language}}</li>
		<li class="list-group-item">Heigth : {{race.data.average_height}}</li>
		<li class="list-group-item">Lifespan : {{race.data.average_lifespan}}</li>
		<li class="list-group-item">Eye color: {{race.data.eye_colors}}</li>
		<li class="list-group-item">Skin color : {{race.data.skin_colors}}</li>
		<li class="list-group-item">Hair color : {{race.data.hair_colors}}</li>
		<li class="list-group-item">Characters :
			<ul class="list-group list-group-flush" ng-if="peopleUrlName.length > 0">
				<li class="list-group-item" ng-repeat="character in peopleUrlName track by $index"><a href="#!/people/{{character.id}}">{{character.name}}</a>
				</li>
			</ul>
		</li>
	</ul>
	<hr class="my-4">
</div>
