<div class="row  divloader" ng-show="!loaded">
	<div class="col-12 loader text-center align-self-center">	<i class="fa fa-spinner fa-spin fa-5x fa-fw"></i>
	</div>
</div>
<div ng-show="films && loaded">
	<h1>Films</h1>
	<div class="row">
		<div class="col card-group" ng-repeat="film in films.data.results track by $index">
			<div class="card my-2" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title"><a href="#!/films/{{extractUrlId(film.url)}}">{{film.title}}</a></h5>
					<h6 class="card-subtitle mb-2 text-muted">Episode {{film.episode_id}}</h6>
					<p class="card-text">Directed by {{film.director}}</p>
					<p class="card-text">Produced by {{film.producer}}</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row" ng-show="film && loaded">
	<div class="col-sm-12">
		<h2>{{film.data.title}}</h2>
		<ul class="list-group">
			<li class="list-group-item">Release date : {{film.data.release_date}}</li>
			<li class="list-group-item">Episode : {{film.data.episode_id}}</li>
			<li class="list-group-item">Director : {{film.data.director}}</li>
			<li class="list-group-item">Producer : {{film.data.producer}}</li>
		</ul>
		<uib-accordion close-others="oneAtATime">
			<div uib-accordion-group class="mt-1" heading="Opening Crawl" is-open="true">{{film.data.opening_crawl}}</div>
			<div uib-accordion-group class="mt-1" heading="Characters" is-open="false">
				<ul class="list-group list-group-flush" ng-repeat="character in peopleUrlName track by $index">
					<li class="list-group-item"><a href="#!/people/{{character.id}}">{{character.name}}</a>
					</li>
				</ul>
			</div>
			<div uib-accordion-group class="mt-1" heading="Planets" is-open="false">
				<ul class="list-group list-group-flush" ng-repeat="planet in planetsUrlName track by $index">
					<li class="list-group-item"><a href="#!/planets/{{planet.id}}">{{planet.name}}</a>
					</li>
				</ul>
			</div>
			<div uib-accordion-group class="mt-1" heading="Species" is-open="false">
				<ul class="list-group list-group-flush" ng-repeat="race in speciesUrlName track by $index">
					<li class="list-group-item"><a href="#!/species/{{race.id}}">{{race.name}}</a>
					</li>
				</ul>
			</div>
			<div uib-accordion-group class="mt-1" heading="Starships" is-open="false">
				<ul class="list-group list-group-flush" ng-repeat="starship in starshipsUrlName track by $index">
					<li class="list-group-item"><a href="#!/starships/{{starship.id}}">{{starship.name}}</a>
					</li>
				</ul>
			</div>
			<div uib-accordion-group class="mt-1" heading="Vehicles" is-open="false">
				<ul class="list-group list-group-flush" ng-repeat="vehicle in vehiclesUrlName track by $index">
					<li class="list-group-item"><a href="#!/vehicles/{{vehicle.id}}">{{vehicle.name}}</a>
					</li>
				</ul>
			</div>
		</uib-accordion>
	</div>
</div>
